[Unit]
Description=Calibre server

[Service]
ExecStartPre=podman rm -i calibre-server
ExecStart=podman run --rm --name calibre-server -e CALIBRE_USER=<user> -e CALIBRE_PASS=<password> -p 8787:8080 --userns keep-id -v <path-to-libraries>:/home/calibre/libraries localhost/calibre
ExecStop=podman stop calibre-server

[Install]
WantedBy=multi-user.target
